body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("library.jpg");
    background-size: cover;
    overflow: hidden;
}

.navbar {
    padding: 0;
    position: absolute;
    /* display: ; */
    top: 0;
    width: 100%;
    margin-bottom: 3%;
    /* height: 5%; */
    display: flex;
    flex-direction: row;
    height: 5%;
    background-color: rgb(0, 255, 51);
    padding: 10px 20px;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    align-items: center;
    /* color: ; */
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ulClasses {
    color: white;
    display: flex;
    text-decoration: none;
    list-style: none;
    flex-direction: row;
    gap: 40px;
}

.navbar-links {
    padding-right: 600px;
}

.navbar-links :hover {
    color: red;
    transition-duration: .8s;
    /* transition: cubic-bezier(0.6, -0.28, 0.735, 0.045); */
}

a {
    text-decoration: none;
    color: white;
}

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: flex;
    place-items: center;
    overflow: hidden;

}

.slide-track {
    display: flex;
    width: calc(160px*10);
    animation: scroll 40s linear infinite;

}

.slide {
    height: 350px;
    width: 350px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;

}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

img {
    width: 100%;
    transition: transform 1s;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;

}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);

}

.slide-track:hover {
    animation-play-state: paused;
}

img:hover {
    transform: translateZ(20px);
}



/* 
.card h2 {
    margin-top: 0;
}

.card p {
    margin-bottom: 0; */
/* } */

#buttonForAdding {
    position: absolute;
    background-color: #f9d66a;
    top: 0px;
    margin: 30px;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Add CSS styles for the tooltip/popover */
.book-details {
    position: absolute;
    background: linear-gradient(blue, yellow);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    max-width: 200px;
    /* Adjust as needed */
}

.book-details p {
    font-style: italic;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px 0;
}

/* 
.card img {
    width: 200px;
    /* Set the width of the image */
/* height: 150px; */
/* Maintain aspect ratio */
/* overflow: hidden;
    border-radius: 8px;
} */

@media only screen and (max-width:200px) {
    .navbar {
        padding: 0;
        position: absolute;
        /* display: ; */
        top: 0;
        width: 100%;
        margin-bottom: 3%;
        /* height: 5%; */
        display: flex;
        flex-direction: column;
        height: 5%;
        background-color: rgb(0, 255, 51);
        padding: 10px 20px;
        justify-content: space-between;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        /* align-items: center; */
        /* color: ; */
    }

    .ulClasses {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 0;
    }
}

.headingName {
    padding-top: 150px;
    padding-left: 550px;
    align-items: center;
    letter-spacing: 5px;
    /* align items to center */
    display: flex;
    font-style: italic;
    font-size: bolder;
    gap: 20px;
    font-weight: bolder;
    color: black;
}

.searchContainer input[type=text] {

    padding: 10px;
    padding-left: 550px;
    width: 200px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.searchContainer input[type=text]::placeholder {

    color: #aaa;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}